@use 'variable' as *;
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar { 
  background: $primary_color;
  height: 80%;
  border: $borders;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border_radius;
}


.navbar-resize {
  display: none;
  // height: 400px;
  position: absolute;
  right: 2rem;
  top: 80px;
  background: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(15px); 
  border-radius: 10px;
  width: 200px;
  .diveder {
    height: 1px;
    width: 80%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  ul {
    margin-top: 20px;
    cursor: $boutton_cliquable;
    li {
      list-style: none;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li:hover {
      color:rgb(240, 240, 250);
    }
  }
  .connect {
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 80%;
      display: flex;
      justify-content: center;
      background: #14e2af;
    }
  }

}

.navbar-resize.open {
  display: block;
}

.navbar img {
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: $boutton_cliquable;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.navbar li {
  list-style: none;
  margin: 10px;
  font-family: "Roboto", serif;
  font-size: 1.5rem;
  color: $letter_colors;
  cursor: $boutton_cliquable;
  font-weight: bold;

}
.connect {
  display: flex;
  gap: 1.5rem;
  font-size: 1.3rem;
  color: $letter_colors;
  font-family: "Roboto", serif;
  font-weight: bold;
  a {
    background: #3a383885;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }
  .btn-a:hover {
    background: rgba(238, 229, 229, 0.349);
    color: #000;
  }
  .btn-b:hover {
    background: #1800f0b6;
    color: #000;
  }
}
.nav-menu {
  font-size: 1.5rem;
  padding: 20px;
  display: none;
}


.banniere {
  display: flex;
  justify-self: center;
  margin: 15px 0 0 0;
  border-radius: 15px;
  width: 90%;
  
  background: rgb(247, 246, 245);
}

.banniere img {
  width: 70%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.banniere span {
  font-family: "Roboto", serif;
  font-size: 2rem;
  color: $letter_colors;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.annonce {
  display: block;
  margin: 0 0 0 50px ;
  letter-spacing: 0.2rem;
  font-family: "Roboto", serif;
  font-size: 2rem;
  color: $letter_colors;
  h1 {
    margin-bottom: 20px;
  }
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}

.card-content  {
  display: block;
  margin: 20px;
  border-radius: 0 0 15px 15px;
  background: rgb(247, 246, 245);
}

.card-content img  {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  cursor: $boutton_cliquable;
}

.card-content p {
  font-family: "Roboto", serif;
  font-size: 2rem;
  color: $letter_colors;
  margin: 10px;
}

.card-content input {
  font-family: "Roboto", serif;
  font-size: 1.5rem;
  color: $letter_colors;
  background: $button_color;
  border: none;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  cursor: $boutton_cliquable;
  width: 90%;
}

.alerte {
   background: rgb(228, 225, 222);
  width: 800px;
  height: 100px;
  text-align: center;
  margin: auto;
  border-radius: 15px;

  p {
    font-family: "Roboto", serif;
    font-size: 2rem;
    color: $letter_colors;
    margin-top: 15px;
  }
  button {
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    background: rgb(68, 68, 145);
    border-radius: 5px;
    margin-top: 10px ;
    cursor: $boutton_cliquable;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  font-family: "Roboto", serif;


  button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    width: 150px;
    background: rgb(68, 68, 145);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
  }
  

  h2 {
    font-style: 1.2rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    label {
      font-size: 1rem;
      margin: 5px 0 ;
    }
    
    input {
      padding: 7px;
      border-radius: 5px;
    }
    textarea {
      padding: 7px;
      border-radius: 5px;
      resize: none;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0;
  font-family: "Roboto", serif;
  border-top: 1px solid #000;
  
  .footer-content {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      li {
        margin: 5px;
        cursor: $boutton_cliquable;
        font-weight: $caractere_ecriture;
      }
    }
  }

}
.copyright {
  font-family: "Roboto", serif;
  font-size: 1.5rem;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000;
  padding: 10px;
  font-weight: $caractere_ecriture;
}

@media screen and (max-width: 1100px) {
  .navbar {
    ul, .connect {
      display: none;
    }
    .nav-menu {
      display: block;
    }
  }
  // .navbar-resize {
  //   display: block;
  // }
  .card {
    flex-direction: column;
    align-items: center;

    .card-content {
      width: 100%;
      p {
        display: flex;
        justify-content: center;
      }
    }
  }
  .annonce {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 825px) {
  
  .alerte {
    width: 80%;
    margin: auto;
  }
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 715px)  {
  
  .navbar li  {
    font-size: 1.1rem;
  }
  .banniere   {
    font-size: 1.8rem;
  }
  .footer {
    width: 100%;
    h3 {
      font-size: 1.1rem;
    }
    li {
      font-size: 1rem;
    }
  }
  .footer-content {
    h3 {
      font-size: 1.1rem;
    }
    li {
      font-size: 1rem;
    }
  }
  .copyright {
    font-size: 1.1rem;
  }

}
@media screen and (max-width:600px) {

  .banniere span  {
    font-size: 1.2rem;
  }
  .alerte {
    width: 80%;
    margin: auto;
    height: 60px;
    p {
      font-size: 1.1rem;
    }
    button {
      font-size: 1rem;
    }

  }
  .navbar li  {
    font-size: 1rem;
  }
  .alerte {
    width: 80%;
    margin: auto;

    p {
      font-size: 1rem;
    }
    
  } 
   .footer-content {
    h3 {
      font-size: 0.1rem;
      margin-bottom: 5px;
    }
    ul {
      list-style: none;
      li {
        margin: 5px;
        font-size: 0.8rem;
      }
    }
  }
  .card-content img {
    width: 90%;
  }
  .card-content p {
    text-align: center;
  }
  .card-content input {
    width: 80%;
    padding: 5px;
  }
  .annonce h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 520px ) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .navbar li {
    font-size: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .footer {
    h4 {
      font-size: 1rem;
      padding: 5px;
    }
  }
  .copyright {
    font-size: 1rem;
  }
  
}

@media screen and (max-width: 430px) {

  .navbar {
    ul {
      li {
        font-size: 0.6rem;
      }
    }
  }
  .banniere {
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    height: 210px;
    img {
      width: 100%;
      border-radius: 15px;
    }
    span {
      display: flex;
      justify-content: center;
      text-align: start;
      margin: 0;
      font-size: 1rem;
      padding: 10px;
    }
  }

  .card {
    max-width: 250px;
  }
  .card-content img {
    width: 100%;
  }
  .footer {
    h3 {
      font-size: 0.1rem;
      font-weight: normal;
    }
    ul {
      li {
        font-size: 0.5rem;
      }
    }
  }
}